.dot {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}


.probe {
    height: 20px;
    width: 20px;
    background-color: black;
    display: inline-block;
    opacity: 0.0;

    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
