<div id="full-container">
	<br>
    <div id="moviescreen">
    </div>

    <div id="register" style="margin: 0 auto">
        <div id ="response_region" style="background-color: white; display: none; margin=auto; align-self:center; text-align:center">
            <br>
            <div class="card">
                <form id="target_response" action="#">
                    <b>Is the highlighted dot a target?</b><br>
                    <label class="radio">
                        <input id="yes_target" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        Yes
                    </label>
                    <label class="radio">
                        <input id="no_target" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        No
                    </label>
                </form>
            </div>
            <hr />
            <div class="card">
                <form id="probe_response" action="#">
                    <b>Did you see the probe?</b><br>
                    <label class="radio">
                        <input id="yes_probe" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        Yes
                    </label>
                    <label class="radio">
                        <input id="no_probe" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        No
                    </label>
                </form>
            </div>
        </div>

		    <hr />
		    <div id="centerdiv">
			    <button id="nextbutton" class="incenterdiv btn btn-success btn-lg" disabled>Next</button>
			    <br>
				<hr />
				<span id="progress" class="incenterdiv" style="margin-top: 15px;">0/0</span>
				<br>
				<button id="reloadbutton" class="incenterdiv btn btn-success btn-med" style="display: none;">Reload Movie</button>
		    </div>
	  </div>
</div>
