<div class="instructions well" id="message"></div>

<div id="full-container" style="width: 100%">
        <div id="scale_region" style="background-color: white; display: none; margin: 0 auto">
            <span id="qspan">Move the slider to match the width of your card</span>
            <input id="scale_slider" type="range" min="0" max="100" default="50" width="1500"/>
        </div>
	<br>
    <div id="mediascreen">
    </div>


    <div id="register" style="margin: 0 auto">
        <div id ="response_region" style="background-color: white; display: none; margin=auto; align-self:center; text-align:center">
            <br>
            <div class="card">
                <form id="td_response_form" action="#">
                    <span id="td_question">
                        <b>Is the highlighted dot a <span style="color:blue">target</span>?</b><br>
                    </span>
                    <label class="radio">
                        <input id="td_yes" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        Yes
                    </label>
                    <label class="radio">
                        <input id="td_no" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        No
                    </label>
                </form>

                <form id="pr_response_form" action="#">
                    <span id="pr_question">
                        <b>Did you see a <span style="color:#e09b88">probe</span>?</b><br>
                    </span>

                    <label class="radio">
                        <input id="pr_yes" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        Yes
                    </label>
                    <label class="radio">
                        <input id="pr_no" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner">
                            </span>
                        </span>
                        No
                    </label>
                </form>

		    <hr />
		    <div id="centerdiv">
			    <button id="nextbutton" class="incenterdiv btn btn-success btn-lg" disabled>Next</button>
			    <br>
				<hr />
				<span id="progress" class="incenterdiv" style="margin-top: 15px;">0/0</span>
				<br>
				<button id="reloadbutton" class="incenterdiv btn btn-success btn-med" style="display: none;">Reload Movie</button>
		    </div>
	  </div>
</div>
